kinect-tweet.json
[

    {
        "id":"f0fa3dd4.e9ff1",
        "type":"ibmiot in",
        "z":"ce6b0a4f.a3722",
        "authentication":"boundService",
        "apiKey":"",
        "inputType":"cmd",
        "deviceId":"",
        "applicationId":"",
        "deviceType":"+",
        "eventType":"+",
        "commandType":"",
        "format":"json",
        "name":"Kinect",
        "service":"registered",
        "allDevices":true,
        "allApplications":"",
        "allDeviceTypes":true,
        "allEvents":true,
        "allCommands":true,
        "allFormats":false,
        "qos":"0",
        "x":85.1788330078125,
        "y":55.6824951171875,
        "wires":[
            [
                "acd0082c.c5b2a"
            ]
        ]
    },
    {
        "id":"acd0082c.c5b2a",
        "type":"switch",
        "z":"ce6b0a4f.a3722",
        "name":"",
        "property":"payload.d.action",
        "rules":[
            {
                "t":"eq",
                "v":"move"
            },
            {
                "t":"eq",
                "v":"stop"
            },
            {
                "t":"eq",
                "v":"left"
            },
            {
                "t":"eq",
                "v":"right"
            }
        ],
        "checkall":"true",
        "outputs":4,
        "x":327.03594970703125,
        "y":91.111083984375,
        "wires":[
            [
                "1d3cc84a.239598"
            ],
            [
            ],
            [
            ],
            [
            ]
        ]
    },
    {
        "id":"5d12ccfd.963d04",
        "type":"twitter out",
        "z":"ce6b0a4f.a3722",
        "twitter":"",
        "name":"Tweet",
        "x":946,
        "y":86.75,
        "wires":[
        ]
    },
    {
        "id":"1d3cc84a.239598",
        "type":"function",
        "z":"ce6b0a4f.a3722",
        "name":"Twittar",
        "func":"msg.payload = \"Estou twitando pelo Kinect \"+Math.random(); ;\nreturn msg;",
        "outputs":1,
        "noerr":0,
        "x":570,
        "y":51.5,
        "wires":[
            [
                "6b756805.7ec5f",
                "5d12ccfd.963d04"
            ]
        ]
    },
    {
        "id":"6b756805.7ec5f",
        "type":"debug",
        "z":"ce6b0a4f.a3722",
        "name":"",
        "active":true,
        "console":"false",
        "complete":"false",
        "x":948,
        "y":32.25,
        "wires":[
        ]
    }

]